* {
    box-sizing: border-box;
}

:root {
    --primary: #000080;
    --secondary: #DB7210;
    --tertiary: #70798C;
    --dark: rgb(49, 44, 44);
    --light: rgb(238, 227, 227);
}

/* added a root style for the whole page */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans,' sans-serif, Arial, Helvetica, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}